<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-paper-plane font-yellow-casablanca" style="color: #5c9acf !important;"></i>
                    من فضلك اختار نوع السداد
                </div>
                <div class="actions">
                    <a class="btn red btn-sm fancymodal-close" id='closebox' ng-click="closeUiModal()" style="padding-left:15px;" href="#"> إغلاق </a>
                </div>
            </div>
            <div class='portlet-body'>
                <div class='row' style="text-align:center;">
                    <div class='table-responsive' style="max-height: 300px;margin-top:10px;" id="ViewList">
                        <table class='table table-striped' style='margin:auto'>
                            <thead>
                                <tr>
                                    <th> نوع السداد </th>
                                </tr>
                            </thead>
                            <tbody id="GetDealingTypeTable">
                                <tr ng-repeat="item in Payment_TypeList track by $index" ng-click="clicktr_Payment_Type(item)">  
                                    <td>{{item.Payment_Type_Name}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>




<style>
    .modal.in .modal-dialog {
        height: 150px;
        width: 600px;
    }
</style>