@{
    ViewBag.Title = "عمولة مبيعات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-settings"></i>
                <a href="#">
                    الاعدادات
                </a>
                <i class="fa fa-angle-left"></i>
            </li>
            <li>
                <a href="#">
                    عمولة مبيعات
                </a>
            </li>

        </ul>

    </div>
</div>
<div class="row" ng-controller="OmolaCtrl">
    <div class="col-md-12" ng-show="AlertParameter">
        <div class="m-heading-1 border-green m-bordered">
            <span style="color:red"> {{ErrorName}} </span>
            <button type="button" style="margin-top: 6px;" class="close" ng-click="ReomveAlert()"></button>
        </div>
    </div>
    <div class="col-md-12" ng-show="Payment">
        <div id="Paymenttxt" class="m-heading-1 border-green m-bordered">
            {{Paymenttxt}}
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    عمولة مبيعات
                </div>
            </div>
            <div class="portlet-body">

                <div class='row form-body'>
                    <div class='col-md-3 form-group'>
                        <label>مسلسل</label>
                        <div class='form-group'>
                            <input type='number' class='form-control' readonly placeholder='مسلسل' ng-model="Omola.ID">
                        </div>
                    </div>
                    <div class='col-md-3 form-group'>
                        <label id="lblBarcode">نوع المصروفات</label>
                        <div class='form-group fixeddiv'>
                            <select name="Omola_Type" id="Omola_Type"  class="form-control">
                                <option value="false" ng-selected="Omola.Omola_Type == false">مبلغ مالي</option>
                                <option value="true" ng-selected="Omola.Omola_Type == true">نسبة من المبيعات</option>
                            </select>
                        </div>
                    </div>
                    <div class='col-md-3 form-group'>
                        <label id="lblBarcode">قيمة العمولة</label>
                        <div class='form-group fixeddiv'>
                            <input name="Omola_quota" id="Omola_quota" ng-model="Omola.Omola_quota" type='number' value="{{Omola.Omola_quota}}" placeholder="المبلغ" class='form-control'>
                            <label id="lblReyal" class="label2">ريال</label>
                            <label id="lblPercentage" class="label2">%</label>
                        </div>
                    </div>

                 

                   
                </div>
                <div class='row form-actions' style='text-align:center'>
                    <button type='submit' class='btn green' ng-click="SaveOmola()">تعديل</button>
                    <a href="/Home" type='submit' class='btn purple'>إلغاء</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-12" ng-show="dataEntire">
        <div class="note note-info dataEntire">
            <h4 class="profile-desc-title">بيانات الإدخال</h4>
            <div class="col-md-5 profile-desc-link">
                <i class="fa fa-user"></i>
                <span style="color: #5b9bd1">المستخدم</span>
                <br />
                <span style="margin-right: 30px;">{{Omola.User_Name}}</span>
            </div>
            <div class="col-md-2 profile-desc-link">
                <i class="fa fa-desktop"></i>
                <span style="color: #5b9bd1">الكمبيوتر</span>
                <br />
                <span style="margin-right: 30px;">{{Omola.ComputerName}}</span>
            </div>
            <div class="col-md-2 profile-desc-link">
                <i class="fa fa-sitemap"></i>
                <span style="color: #5b9bd1">مستخدم الشبكة</span>
                <br />
                <span style="margin-right: 30px;">{{Omola.ComputerUser}}</span>
            </div>
            <div class="col-md-3 profile-desc-link">
                <i class="fa fa-calendar"></i>
                <span style="color: #5b9bd1">التاريخ</span>
                <br />
                <span style="margin-right: 30px;"> {{Omola.InDate}}</span>
            </div>
        </div>
    </div>

</div>
@section Related{
    @*<div class="row">
            <div class="col-md-12">
                <h4 class="page-title">الأدوات</h4>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption" style="font-size:14px;">
                            روابط ذات صلة
                        </div>
                    </div>
                    <div>
                        <div class="portlet-body">
                            <a href="/Omola/Operation"><i class="fa fa-angle-left"></i> إضافة منتج جديد</a>
                        </div>
                        <div class="portlet-body">
                            <a href="/Search/Omola"><i class="fa fa-angle-left"></i>الإستعلام عن منتج</a>
                        </div>

                    </div>
                </div>


            </div>
        </div>*@
}

@section AngularFiles{

    <link href="~/assets/layouts/ZebraDatepicker/style/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/layouts/ZebraDatepicker/style/shCoreDefault.min.css" />
    <link href="~/assets/layouts/ZebraDatepicker/style/css/default/zebra_datepicker.min.css" rel="stylesheet" />
    <link href="~/assets/layouts/ZebraDatepicker/examples.css" rel="stylesheet" />


    <script src="~/assets/layouts/ZebraDatepicker/style/shCore.min.js"></script>
    <script src="~/assets/layouts/ZebraDatepicker/style/shBrushJScript.min.js"></script>
    <script src="~/assets/layouts/ZebraDatepicker/style/shBrushXml.min.js"></script>
    <script src="~/assets/layouts/ZebraDatepicker/style/shBrushCss.min.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.all();
    </script>

    <script src="~/assets/layouts/ZebraDatepicker/style/zebra_datepicker.min.js"></script>
    <script src="~/assets/layouts/ZebraDatepicker/examples.js"></script>
 

<script src="~/App/Tarmeez/OmolaCtrl.js"></script>
}


